* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Averta CY W01';
}
*::selection {
  color: #fff;
  background-color: #000;
}

/* .cursor {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: #000;
  position: relative;
} */

html, body {
  width: 100%;
  height: 100%;
}

#main {
  width: 100%;
  cursor: none;
}

/* need to be careful with this part */

#home {
  width: 100%;
  min-height: 100vh;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 30px 50px;
}

#nav img {
  width: 94px;
}

#nav #right {
  display: flex;
  align-items: center;
  gap: 40px;
}

#nav a {
  text-decoration: none;
  font-weight: 300;
  color: black;
  font-size: 1vw;
}

#nav i {
  padding-top: 5px;
  font-size: 22px;
}

#home #homeMain {
  width: 100%;
  padding: 15vw 15vw;
}

#homeMain h1 {
  font-weight: lighter;
  font-size: 1.5vw;
}

.heading {
  display: flex;
  gap: 38px;
} 

#homeMain .heading h1 {
  color: transparent;
  -webkit-text-stroke: 1px #000;
  font-size: 7vw;
  font-weight: 900;
  line-height: 1;
  letter-spacing: -6px;
 
  /* transition: .75; */
}


/* #homeMain .heading h1:hover {
  color: #000;
} */

.elem {
  height: 30vh;
  width: 28vw;
  display: flex;
  align-items: center;
  justify-content: center; 
  position: relative;
}

.elem h1 {
  mix-blend-mode: difference;
}

.elem img {
  width: 300px;
  height: 300px;
  scale: 0;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  z-index: -1;
  transition: all linear 0.2s ;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  background-color: #00000000;
}

#homeLast {
  padding: 5vw 15vw;
}

#homeLast p {
  width: 65%;
  font-size: 1.3vw;
  /* font-weight: 500 */
  letter-spacing: -.08vw;
}

#homeLast p::selection {
  color: #fff;
  background-color: #000;
}


#featured {
  padding: 10vw 15vw;
}

.feHeading > h1 {
  line-height: 1;
  font-size: 4vw;
  font-weight: lighter; 
}

.feHeading > h1:nth-child(2) {
  color: transparent;
  -webkit-text-stroke: 1px black;
}


#feImages {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  /* padding: 0vw 15vw; */
  margin-top: 5vw;
  /* border: 2px solid orange;  */
}

#fLeft {
  overflow: hidden;
  width: 45%;
  height: inherit;
  /* border: 2px solid green; */
}

.fLeftLm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: inherit;
}

.fLeftLm h1 {
  font-size:  2.5vw;
  line-height: 1;
  /* font-weight: 400; */
  margin: 1.8vw 0;
}

.fLeftLm h4 {
  opacity: .5;
}

.fLeftLm h3 {
  font-size: 24px;
}

#fRight {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 45%;
  height: inherit;
  /* border: 2px solid blue; */
}

#fRight .imgs {
  width: 90%;
  height: 90%;
  /* background-color: red; */
}

#fRight .imgs img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btnDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btnDiv button {
  padding: 20px 50px;
  border-radius: 100px;
  border: 1px solid rgb(174, 173, 173);
  background-color: #fff;
  font-size: 1vw;
  letter-spacing: -1px;
  transition: 0.75ms;
}

.btnDiv button:hover {
  background-color: #000;
  color: #fff;
}

#dev {
  width: 100%;
  padding: 5vw 15vw;
}

#dev h1 {
  font-size: 3.8vw;
  width: 60%;
  line-height: 1;
}

#dev p {
  font-size: 30px;
  margin-top: 30px;
  letter-spacing: -.5px;
  width: 60%;
}

#slideDiv {
  padding: 3vw 10vw;
  display: flex;
  justify-content: space-between;
}

.slide{
  width: 30%;
}


.img img {
  width: 100%;
  height: 270px;
  border-radius: 30px;
}

.slide .tag {
  width: fit-content;
  border-radius: 50px;
  margin: 20px 0;
  padding: 10px 22px;
  background-color: #f1f1f1;
}

.slide h3 {
  font-size: 1.4vw;
  letter-spacing: -.5px;
}